{% extends "base.html" %}
{% block content %}

<script src="/static/vendor/requirejs/require.js"> </script>
<script src="/static/js/main.js"> </script>
<script> require(['game']); </script>

<style>
#loading {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
  z-index: 100;
}
#loading-inner {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.choice {
  width: 200px;
  height: 200px;
  border: 4px solid transparent;
  transition: all 0.4s ease-in;
}
.choice.active{
  border: 4px solid #0074D9;
}
#time.take-easy {
  color: #428bca;
}
#time {
  font-weight: bold;
}
#alert {
  transition: all 300ms ease-in;


</style>
<div id="loading">
  <div id="loading-inner">
    Loading... Please wait.
  </div>
</div>

<div class="page-header">
  <h1> Game </h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <span>
      <b> Score </b>
      : <span id="score"> 0 </span>
    </span>

    <span>
      <b> Time Left </b>
      : <span id="time"> 0 </span>
    </span>
    <span>
      <b> Question Left </b>
      : <span id="game-length"> 0 </span>
    </span>
  </div>
</div>
<div class="alert" id="alert">

</div>
<hr />

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    Please pick two of the most similar pictures out from 3 pictures.
  </div>
<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <img class="choice" id="choice1" data-num="0">
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <img class="choice" id="choice2" data-num="1">
  </div>
  <div class="col-xs-4 col-sm-4 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
    <img class="choice" id="choice3" data-num="2">
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8
    col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
    <button id="submit" type="button" class="btn btn-primary btn-lg btn-block" data-placement="top" data-content="you should choice 2 images!"> SUBMIT </button>
  </div>
</div>


<div class="modal" id="modal-win">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Congraduation </h4>
      </div>
      <div class="modal-body">
        <h3> You Win!! </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"> Close this game and go back.</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-exit">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Opps.... </h4>
      </div>
      <div class="modal-body">
        <h4> It seems like your partener has already left game... </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"> Close this game and go back.</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
