{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script src="/static/vendor/requirejs/require.js"> </script>
<script src="/static/js/main.js"> </script>
<script> require(['team']); </script>

<style>
#loading {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: none;
  z-index: 100;
}
#loading-inner {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 40%;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
</style>
<div id="loading">
  <div id="loading-inner">
    Loading... Please wait.
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Let's get a partner</h3>
  </div>
  <div class="panel-body">
    <p>
    Input recaptcha and click button to find a partner.
    </p>
    <div id="recaptcha"></div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">
    <button id="enqueue" type="button" class="btn btn-primary"> go into queue </button>
    <div id="text"> </div>
    </li>
  </ul>

</div>



{% endblock %}

{% block title %}
Building team
{% endblock %}
