CSRF_ENABLED = True
SECRET_KEY = 'you-will-never-guess'

import os
basedir = os.path.abspath(os.path.dirname(__file__))

#SQLALCHEMY_DATABASE_URI = ''
#SQLALCHEMY_POOL_RECYCLE = 10
#MYSQL_USER = ''
#MYSQL_PASS = ''
#MYSQL_HOST = ''
#MYSQL_PORT = '3306'
#MYSQL_DB = ''
#SQLALCHEMY_DATABASE_URI = 'mysql://%s:%s@%s:%s/%s' % (MYSQL_USER, MYSQL_PASS, MYSQL_HOST, MYSQL_PORT, MYSQL_DB)

SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'app.db')

PASSWORD_SECRET = 'dafsafdfsagse'

REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB = 0

RECAPTCHA_PRIVATE_KEY = "6Lf05PASAAAAACxYkqaiMJWIxeVOhrTudPx5ElI_"

ASSET_DIR = os.path.join(basedir, 'asset')
