{% extends "admin/base.html" %}
{% import "_forms_h.html" as m %}
{% block content %}

<form class="form form-horizontal" action="" method="post" name="setting">
  {{form.hidden_tag()}}
  {{ m.input(form.score_init) }}
  {{ m.input(form.rounds_init) }}
  {{ m.input(form.score_per_round) }}
  {{ m.input(form.total_time) }}
  {{ m.input(form.timeout_penalty) }}

  <div class="col-lg-offset-3 col-lg-2">
    {{ m.submit("Save", class="btn-lg btn-primary btn-block") }}
  </div>
</form>

{% endblock %}
