{% extends "base.html" %}
{% import "_forms_h.html" as m %}
{% block content %}
<div class="well">
  <div> Current Online User: {{online_num}} </div>
  <div> Total User: {{total_num}} </div>

  <a class="btn btn-primary" href="{{url_for('team.index')}}"> Start game </a>
</div>

<h3> Game History <small> average score: {{average |round(1, 'floor')}} </small></h3>
<ul class="list-group">
  {% for item in history %}
  <li class="list-group-item">
  {{item.score}}
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block title %}
Online Game
{% endblock %}
