{% extends "base.html" %}
{% import "_forms_h.html" as m %}
{% block content %}
<div class="row">
	<h1> Change Password </h1>
	<hr />
	<form class="form-horizontal" action="" method="post" name="passwd">
		{{form.hidden_tag()}}
		{{ m.input(form.oldpassword, placeholder="Old Password") }}
		{{ m.input(form.newpassword, placeholder="New Password") }}
		{{ m.input(form.confirm, placeholder="Repeat New Password") }}
		<div class="col-lg-offset-3 col-lg-2">
			{{ m.submit("Submit", class="btn-lg btn-primary btn-block") }}
		</div>
	</form>
</div>
{% endblock %}

{% block title %}
Change Password
{% endblock %}
